Header {
  text-align: center;
}

.homePage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: aqua;
  height: 80px;
}

.card-img-top {
  width: auto;
  padding-top: 10px
}

form {
  padding: 20px
}